node_modules
__pycache__
shap.egg-info
*.pyc
/build
/dist
/shap031/cached_data
notebooks/local_scratch
docs/local
docs/_build
.ipynb_checkpoints
.eggs
shap031/_cext.cpython-36m-darwin.so
shap031/_cext.cpython-35m-darwin.so
javascript/build/*
.vscode
shap031/_cext.so
.DS_Store
/notebooks/deep_explainer/mnist_data
/data/CRIC*
/docs/artwork/local
/shap031/_cext*